 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
     <title>
         {% block title %}{% endblock %}
     </title>
 </head>
 <body>
 <div class="content">
     {% block content %}
     {% endblock %}
 </div>
 </body>
 </html>