body{
    background-color: #092E20;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div.content{
    border: 1px solid #fbfbfb;
    background: #FFF;
    color: #000;
    max-width: 750px;
    width: 96%;
    padding: 2%;
    margin: 28px  auto;
}